*{
    font-family: "Lucida Sans";
}

nav {
    background-color: darkgreen;
    text-align: right;
    
    
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
div {
    background-color: brown;
}
h1 {
    text-align: center;
    
    
}
p {
    text-align: center;
}
section {
    text-align: center;
}
li {
    display: inline;
    color: white;
}
